{#-
  Based on Material's partials/content.html with a custom bilingual H1.
-#}
{% include "partials/tags.html" %}
{% include "partials/actions.html" %}
{% if "\u003ch1" not in page.content %}
  <h1 class="page-title">
    {% if page.meta and page.meta.en_title %}
      <span class="page-title-en">{{ page.meta.en_title }}</span><br />
    {% endif %}
    <span class="page-title-zh">{{ page.title | d(config.site_name, true) }}</span>
  </h1>
{% endif %}
{{ page.content }}
{% include "partials/source-file.html" %}
{% include "partials/feedback.html" %}
{% include "partials/comments.html" %}
